{% extends "base.html" %}
{% block title %}Projects{% endblock title %}
{% block content %}
    <h1>Projects</h1>
    <!-- Todo: Add a filter UI for tags -->
    <form method="get"?>
        <label for="tag">Filter by tag</label>
        <input type="text" name="tag" id="tag" placeholder="e.g., C++, Data Science...">
        <button type="submit">Filter</button>
    </form>

    <div class="projects">
        {% for project in projects %}
            <div class="project-node">
                <!-- TODO: Add styling to make nodes 8-bit style -->
                {% if project.image %}
                    <img src="{{ project.image.url }}" alt="{{ project.title }} thumbnail">
                {% endif %}
                <h2>{{ project.title }}</h2>
                <p>{{ project.description|truncatewords:20 }}</p>
                <p>Tags:
                    {% for tag in project.tags.all %}
                        <span class="tag">{{ tag.name }}</span>
                    {% endfor %}
                </p>
                <a href="{% url 'project_detail' project.pk %}">View Details</a>
            </div>
        {% empty %}
            <p>No projects found. Add some in the admin panel</p>
        {% endfor %}
    </div>
{% endblock content %}